@import
	url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

html, body {
	background-color: #eeeeee;
	font-family: 'Nanum Gothic Coding';
	margin-top: 10px;
}

label, .pure-g [class*="pure-u"], .pure-g-r [class*="pure-u"],
	.pure-form input, .pure-form select {
	font-family: 'Nanum Gothic Coding';
	font-size: 12px;
}

.ui-jqgrid, .ui-jqgrid .ui-jqgrid-view, .ui-jqgrid .ui-jqgrid-pager,
	.ui-jqdialog-title, .ui-jqdialog-content, .EditTable td input,
	.EditTable td select, .EditTable td textarea {
	font-family: 'Nanum Gothic Coding';
	font-size: 1em;
}

.ui-jqgrid .ui-jqgrid-titlebar, .ui-jqgrid .ui-jqgrid-htable th div,
	.ui-jqgrid tr.jqgrow td, .ui-jqdialog-content {
	font-family: 'Nanum Gothic Coding';
	font-size: 1em;
}

.ui-jqgrid a {
	text-decoration: none;
}

.ui-datepicker, .ui-datepicker .ui-datepicker-title, .ui-datepicker table,
	.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current,
	.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-done {
	font-family: 'Nanum Gothic Coding';
	font-size: 1em;
}

.ui-widget, .ui-button-text, .ui-dialog-title {
	font-family: 'Nanum Gothic Coding';
	font-size: 12px;
}

.ui-tooltip-content {
	font-family: 'Nanum Gothic Coding';
	font-size: 12px;
	font-weight: bold;
}

.ui-menu .ui-menu-item a, .ui-state-error-text {
	font-family: 'Nanum Gothic Coding';
	font-size: 12px;
}

.qms-pane-container {
	position: relative;
	background-color: white;
	max-width: 1200px;
	margin: 0 auto;
	border: solid #dddddd thick;
	padding: 5px;
}

.qms-pane-header {
	position: relative;
	padding-bottom: 5px;
}

.qms-pane-sidebar {
	position: absolute;
	left: 5px;
	width: 240px;
}

.qms-pane-content {
	position: relative;
	min-height: 640px;
	margin-left: 240px;
	padding-left: 10px;
}

.qms-pane-footer {
	position: relative;
}

.qms-header-menu {
	margin-top: 5px;
}

.qms-header-logo {
	background-image: url(../img/header-bg.jpg);
	background-color: #209895;
	width: 250px;
	height: 92px;
	float: left;
}

.qms-header-padding {
	background-image: url(../img/header-bg-bar.jpg);
	background-color: #209895;
	height: 92px;
}

.qms-header-userinfo {
	float: right;
	padding: 10px;
	font-size: 12px;
}

.qms-header-hello {
	float: left;
	padding: 10px;
	font-size: 12px;
	color: white;
	position: relative;
	top: 5px
}

.qms-footer-img {
	background-image: url(../img/footer-bg.jpg);
	background-color: #209895;	
	width: 250px;
	height: 35px;
	float: left;
}

.qms-footer-padding {
	background-image: url(../img/footer-bg-bar.jpg);
	background-color: #209895;	
	height: 35px;
}

.qms-sidebar-menu {
	width: 200px;
}

.qms-sidebar-menu ul {
	font-size: 12px;
}

.qms-content-header {
	margin-left: 19px;
	margin-right: 19px;
	margin-bottom: 19px;
}

.qms-content-title {
	float: left;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.qms-content-searchpanel {
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
}

.qms-content-title-text {
	margin-left: 10px;
}

.qms-content-info {
	font-size: 12px;
}

.qms-content-buttonset {
	clear: both;
	float: right;
	font-size: 12px;
	margin-top: 2px;
}

.qms-content-main {
	clear: both;
	margin-left: 19px;
	margin-right: 19px;
}

.qms-content-hidden {
	margin-left: 19px;
	margin-right: 19px;
	visibility: hidden;
	display: none;
}

.qms-pane-msg {
	position: absolute;
	top: -40px;
	right: 10px;
}

.qms-notify {
	padding: 10px;
}

.qms-dialog-content {
	font-family: 'Nanum Gothic Coding';
	font-size: 12px;
}

.qms-dialog-icon {
	float: left;
	margin: 0 7px 20px 0;
}

.qms-grid-top-notify {
	clear: both;
	float: right;
	margin-bottom: 5px;
}

.ui-jqgrid .ui-jqgrid-htable th div {
	height: auto !important;
	overflow: hidden;
	padding: 4px;
	position: relative;
	vertical-align: text-top;
	white-space: normal !important;
}

input[required=true] {
	padding-right: 20px;
	background-image: url(../img/asterisk.png);
	background-position: right top;
	background-repeat: no-repeat;
}

textarea[required=true] {
	padding-right: 20px;
	background-image: url(../img/asterisk.png);
	background-position: right top;
	background-repeat: no-repeat;
}

select[required=true] {
	padding-right: 20px;
	background-image: url(../img/asterisk.png);
	background-position: left top;
	background-repeat: no-repeat;
}

label[required=true] {
	padding-left: 10px;
	background-image: url(../img/asterisk.png);
	background-position: left top;
	background-repeat: no-repeat;
}

div[id=toggle] label>span {
    padding : 0.4em 0 0.4em 0 !important
}

/* Allow Font Awesome Icons in lieu of jQuery UI and only apply when using a FA icon */
.ui-icon[class*=" fa"] {
    /* Remove the jQuery UI Icon */
    background: none repeat scroll 0 0 transparent !important;
    /* Remove the jQuery UI Text Indent */
    text-indent: 0; 
    /* Bump it up - jQuery UI is -8px */
    margin-top: -0.5em !important;
}

/* Allow use of icon-large to be properly aligned */
.ui-icon.icon-large {
    margin-top: -0.75em;
}

.ui-button-icon-only .ui-icon[class*=" fa"] {
    /* Bump it - jQuery UI is -8px */
    margin-left: -7px;
    margin-top: 0.75em !important;
}