/*
Pure CSS Default 속성을 변경 하고자 할 때 사용한다.
*/
/* 
    Created on : 2014. 6. 16, 오후 3:19:45
    Author     : 
*/

.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly],
.pure-form input[readonly]:focus,
.pure-form select[readonly]:focus,
.pure-form textarea[readonly]:focus {
    background: #F9F9F9; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}

